<h1>Stories</h1>

<div class="row">
    {{#each stories}}
        <div class="col s12 m4">
            <div class="card">
                <div class="card-img edit-btn">
                    {{{editIcon user ../user _id}}} {{!-- editIcon helper: user is the creater of current story in  loop --}}
                    {{!-- ../user will get us out of the loop, and access the global variable user(req.user)  --}}
                </div>
                <div class="card-content center-align">
                    <h5>{{title}}</h5>
                    <p>{{formatDate createdAt 'MMMM Do YYYY, h:mm:ss a'}}</p>
                    <p>{{truncate (stripTags body) 150}}</p>
                    <br>
                    <a href="/stories/{{_id}}" class="btn">Read More</a>
                    <div class="chip">
                        <img src="{{user.image}}" alt="User">
                        <a href="/stories/user/{{user._id}}">{{user.displayName}}</a>
                    </div>
                </div>
            </div>
        </div>
    {{else}}
        <p>No stories</p>
    {{/each}}
</div>